$color: #0000ff;

.container {
  max-width: 960px !important;
}

.card {
  margin-top: 32px;
  border: none;
  cursor: pointer;
}

.card.listing {
  border-bottom: 1px #d1d1d1 solid;
  padding-bottom: 32px;
  .img-fluid {
    max-width: 100px;
  }
}

.header {
  margin-bottom: 32px;
}

.viewMode {
  all: unset;
  width: 32px;
  text-align: center;
  height: 32px;
  vertical-align: middle;
  border: 1px #000 solid;
  padding: 4px 8px;
  line-height: 32px;
}
.searchbox,
.searchbox:focus {
  all: unset;
  width: 192px;
  height: 32px;
  text-align: left;
  border: 1px #000 solid;
  padding: 4px 8px;
  line-height: 32px;
}
